/* @import url("https://fonts.gstatic.com"); */
/* @import url('https://fonts.googleapis.com/css2?family=Exo+2'); */

/* Main DIVS */

.main-div{
    font-family: 'Exo 2', sans-serif;
    /* background-color: #F5F8FA; */
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-image: url("../images/me.png");
    background-color: #f2f2f2;
    background-position: right;
    background-repeat:no-repeat;
    background-size: auto 100vh;
}
.social-icon-div{
    height:100vh;
    width: auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding: 10px;
}
.social-icon-button:hover{
    background-color: rgba(0, 0, 0, 0.5) !important;
}
.right-side-div{
    flex:1;
    overflow: auto;
}
.nav-div{
    height:15%;
    padding : 30px 20px;
    display : flex ;
    flex-direction : row;
    align-items :center ;
    position: sticky;
    top: 0;
    z-index: 1;
}
.content-div{
    position: relative;
    /* margin-top: 100px; */
    /* height: 100%; */
    /* display: flex; */
    overflow: hidden;
}
/* .page-container {
    position:absolute;
    height: 100%;
    width: 100%;
} */

/* ROUTES */
.nav-links{
    margin-left: 10px;
    font-weight: 600;
}
.nav-links:hover{
    color: #3578E5;
}
.nav-links.active{
    color: #3578E5 !important;
}



/* @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  } */
